{% load static %}
<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="{% static 'shorturl/js/home.js' %}"></script>-->
    <script>

        $(document).ready(function(){
             $("form#short_url_create").submit(function(){

                var formData = new FormData(this);
                $.ajax({
                    url: '{% url 'get_short_url' %}',
                    type: 'POST',
                    data: formData,
                    async: false,
                    success: function (data) {
                    var obj = jQuery.parseJSON( data );
                       $("span").html("<a href='" + window.location.protocol  + "//" + window.location.host + "/shorturl/renewbuy.py/"  + obj.result + "' target='_blank'>" + "renewbuy.py/" + obj.result + "</a>");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
                return false;
            });
        });

    </script>
</head>
<body>

<form id="short_url_create" method="post" enctype="multipart/form-data">{% csrf_token %}
    Enter url : <input type="text" name="longurl"><input type="submit">
</form>
<p>Short Url: <span></span></p>
</body>
</html>